  .navbar {
      background-color: darkgreen;
  }


  .navbar-brand img {
      filter: invert(1);
  }

  .navbar-nav .nav-link .navbar-brand {
      color: white;
  }



  .fooldal {
      width: 100%;
  }

  .fooldal td {
      background-image: url('../img/homebg.jpg');
      background-size: cover;
      padding-bottom: 57%;
  }

  .fooldal h1 {
      text-align: left;
      color: #AB8842;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
  }

  .bannerkep {
      background-image: url('../img/banner.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-top: 30%;
  }



  footer img {
      color: white;
      max-height: 25px;
      max-width: 25px;
  }


  footer {
      background-color: darkgreen;
      color: white;
  }

  footer li {
      list-style-type: none;
  }

  .napraforgocontainer {

      margin-top: -250px;
      margin-left: 310px;

  }

  .napraforgocontainer img {
      max-height: 25px;
      max-width: 25px;
  }

  .tartalmak {
      background-color: #E2E099;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      padding: 10px;
  }

  .tartalmak h1 {
      color: #AB8842;
      font-weight: bold;
  }

  .tartalmak p {
      color: black;
      background-color: white;
      margin-bottom: 0;
      font-variant: small-caps;
  }

.paddinghely{
    padding: 10px;
}

  .keret {
      border: 2px double black;
  }