  .navbar {
      background-color: darkgreen;
  }


  .navbar-brand img {
      filter: invert(1);
  }

  .navbar-nav .nav-link .navbar-brand {
      color: white;
  }



  .fooldal {
    width: 100%;
  }
  
  .fooldal td {
    background-image: url('../img/homebg.jpg');
    background-size: cover;
    text-align: left;
    color: #AB8842;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 40%;
  }

  .bannerkep {
      background-image: url('../img/banner.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-top: 30%;
  }



  footer img {
      color: white;
      max-height: 24px;
      max-width: 24px;
  }


  footer {
      background-color: darkgreen;
      color: white;
  }

  footer li {
      list-style-type: none;
  }




